<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="person-mod">
    <div class="dm-overlay" id="saveModal">
        <div class="dm-table">
            <div class="dm-cell">
                <div class="dm-modal">
                    <a href="#close" class="close" onclick="clearFields()"></a>
                    <div class="modal-header">
                        <h3 class="modal-title" id="modalTitle">Добавление новой записи</h3>
                    </div>
                    <div class="modal-body">
                        <form name="data" id="editingForm">
                            <input type="text" class="data-el" name="id" id = 'id' readonly hidden>
                            <table class="data-editing">
                                <tr>
                                    <td class="right">ФИО: </td>
                                    <td><input type="text" class="data-el" name="fio" id="fio"></td>
                                    <td><span class="red" id="fioErr"></span></td>
                                </tr>
                                <tr>
                                    <td class="right">Должность: </td>
                                    <td><input type="text" class="data-el" name="position" id="position"></td>
                                    <td><span class="red" id="positionErr"></span></td>
                                </tr>
                                <tr>
                                    <td class="right">Подразделение: </td>
                                    <td>
                                        <select class="data-el" name="departmentId">
                                            <option th:each="department : ${departments}"
                                                    th:value="${department.getId()}"
                                                    th:utext="${department.getShortName()}"></option>
                                        </select>
                                    </td>
                                    <td><span class="red" id=""></span></td>
                                </tr>
                                <tr>
                                    <td class="right">Номер приказа: </td>
                                    <td><input type="text" class="data-el" name="orderNumber" id="orderNumber"></td>
                                    <td><span class="red" id="orderNumberErr"></span></td>
                                </tr>
                                <tr>
                                    <td class="right">Дата приказа: </td>
                                    <td><input type="date" class="data-el" name="orderDate" id="orderDate"></td>
                                    <td><span class="red" id="orderDateErr"></span></td>
                                </tr>
                            </table>
                            <input type="button" class="button" value="Сохранить" th:onclick="save('person')">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>