<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="pattern :: header"></head>
    <body>
        <div th:insert="pattern :: menu"></div>
        <div class="wrapper">
            <div class="content">
                <link href="styles/data-table.css" rel="stylesheet">
                <div class="upContainer">
                    <div class="preTableContainer">
                        <a href="#saveModal" class="btn"><button type="button" class="button"><i class="fa fa-plus"></i> НОВАЯ ЗАПИСЬ</button></a>
                    </div>

                    <div class="title">
                        <h4>Классификатор отходов</h4>
                    </div>
                </div>

                <div th:insert="modal-pages/waste-type-mod :: waste-type-mod"></div>

                <table class="data-view">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Код</th>
                        <th>Наименование</th>
                        <th width="170px">Степень опасности</th>
                        <th>Класс опасности</th>
                        <th width="310px">Вид деятельности</th>
                        <th width="350px">Норматив образования</th>
                        <th class="actions"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="wasteType, state : ${wasteTypes}">
                        <td th:utext="${state.count}"></td>
                        <td th:utext="${wasteType.getCode()}"></td>
                        <td class="left" th:utext="${wasteType.getName()}"></td>
                        <td th:utext="${wasteType.getDangerousPowName()}"></td>
                        <td th:utext="${wasteType.getDangerousClassName()}"></td>
                        <td class="left" th:utext="${wasteType.getActivityKindName()}"></td>
                        <td class="left" th:utext="${wasteType.getWasteNorm()}"></td>
                        <td>
                            <div id="parent">
                                <i class="fa fa-edit fa-lg border" th:onclick="'showUpdateCatalogs('+ ${wasteType.getId()} + ', \'waste-type\')'"></i>&nbsp;
                                <i class="fa fa-trash-o fa-lg border" th:onclick="'remove('+ ${wasteType.getId()} + ', \'waste-type\')'"></i>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>